.text {
	font-size: 30pt;
}

.text2 {
	font-size: 22pt;
	text-align: center;
}

text {
	color: #00e;
	text-decoration: underline;
}

p {
	font-size: 30pt;
}

h1 {
	font-size: 35pt;
}

.floating-br {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 5px;
}

#nav {
	border: 5px solid black;
	width: 95%;
	height: 15%;
	font-size: 40px;
	text-align: center;
}

.center {
	margin: auto;
}

p.center.nav {
	margin: 40px auto;
}

#redirect_,
.rdi,
rdi {
	height: 40pt;
}

body {
	font-display: swap;
}
